<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StatisticsMapper">
	
	<!--表名 -->
	<sql id="tableName">
		SYS_STATISTICS
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		IP,	
		AREA,	
		OPERATOR,	
		CDATE,	
		CTIME,
		REGION,
		STATISTICS_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{IP},	
		#{AREA},	
		#{OPERATOR},	
		#{CDATE},	
		#{CTIME},
		#{REGION},
		#{STATISTICS_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			STATISTICS_ID = #{STATISTICS_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
		STATISTICS_ID = STATISTICS_ID
		where 
		STATISTICS_ID = #{STATISTICS_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			STATISTICS_ID = #{STATISTICS_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					IP LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					AREA LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					OPERATOR LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		<if test="pd.lastStart != null and pd.lastStart !=''"><!-- 开始时间 -->
			and CDATE &gt;= #{pd.lastStart} 
		</if>
		<if test="pd.lastEnd != null and pd.lastEnd !=''"><!-- 结束时间 -->
			and CDATE &lt;= #{pd.lastEnd} 
		</if>
		order by CTIME desc
	</select>
	
	<!-- 列表 -->
	<select id="grdatalistPage" parameterType="page" resultType="pd">
		select
			COUNT(IP) ZCOUNT,
			IP,
			CDATE,
			AREA,
			OPERATOR
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					IP LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					AREA LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					OPERATOR LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		<if test="pd.lastStart != null and pd.lastStart !=''"><!-- 开始时间 -->
			and CDATE &gt;= #{pd.lastStart} 
		</if>
		<if test="pd.lastEnd != null and pd.lastEnd !=''"><!-- 结束时间 -->
			and CDATE &lt;= #{pd.lastEnd} 
		</if>
		GROUP BY IP,CDATE
		order by CDATE desc
	</select>
	
	<!-- pv流量 -->
	<select id="pvcharts" parameterType="pd" resultType="pd">
		select 
			COUNT(IP) PVCOUNT
		from 
		<include refid="tableName"></include>
		where 
			CDATE = #{CDATE}
		and
			CTIME LIKE CONCAT(CONCAT('___________', #{HOUR}),'______')
	</select>
	
	<!-- 独立IP访客-->
	<select id="ipcharts" parameterType="pd" resultType="pd">
		select 
			COUNT(IP) IPCOUNT
		from 
			(select 
				distinct(IP)
			from 
			<include refid="tableName"></include>
			where
				CDATE = #{CDATE}
			and
				CTIME LIKE CONCAT(CONCAT('___________', #{HOUR}),'______')
			) b
	</select>
	
	<!-- 地区统计-->
	<select id="areacharts" parameterType="pd" resultType="pd">
		select
			COUNT(b.IP) ZCOUNT,
			b.REGION
		from(
			select
				*
			from 
			<include refid="tableName"></include>
			where 
				CDATE = #{CDATE}
			group by
				IP
			)b
		group by
			b.REGION
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			STATISTICS_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>